layout {
    focus-ring {
        active-color "#b7a586"
    }

    border {
        active-color "#b7a586"
        inactive-color "#6f605a"
        urgent-color "#ab5032"
    }

    shadow {
        color "rgba(27,15,11,1.0)"
    }
}

